.header {
  background-color: var(--magicBlack);
  color: var(--magicSilver);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;

  .flexItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .burger {
      a {
        color: white;
        font-size: 1.2rem;
        &:hover {
          color: var(--magicBlue);
        }
      }
    }
  }
  img {
    height: 70px;
    width: auto;
    margin-right: 2rem;
  }
  a {
    text-decoration: none;
  }
  &__nav {
    a {
      padding-right: 20px;
      display: inline-block;
      color: white;
      font-weight: 500;
      &:hover {
        transition: 0.2s;
        color: var(--magicBlue);
      }
    }
  }
  &__logo {
    font-size: 2rem;
    a {
      color: #2c2952;
    }
  }
}
