.header {
  background-color: var(--magicBlack);
  color: var(--magicSilver);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;

  .flexItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .burger {
      .fa-bars {
        display: none;
      }
      a {
        color: white;
        font-size: 1.2rem;
        &:hover {
          color: var(--magicBlue);
        }
      }
      @media (max-width: 768px) {
        .fa-magnifying-glass {
          display: none;
        }
        .fa-bars {
          display: block;
        }
      }
    }
  }
  img {
    height: 70px;
    width: auto;
    margin-right: 2rem;
  }
  a {
    text-decoration: none;
  }
  &__nav {
    a {
      padding-right: 20px;
      display: inline-block;
      color: white;
      font-weight: 500;
      &:hover {
        transition: 0.2s;
        color: var(--magicBlue);
      }
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__logo {
    font-size: 2rem;
    a {
      color: #2c2952;
    }
  }
}
