.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  margin: 4rem 0;
  width: 100%;
  border-bottom: 3px solid var(--magicBlue);
  border-top: 3px solid var(--magicBlue);
  // background-color: var(--magicSilver);
  img {
    margin: 0 1.5rem;
    width: 10%;
    height: 7rem;
    cursor: pointer;
  }
}
