.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0;
  margin: 0rem 0;
  width: 100%;
  border-bottom: 2px solid var(--magicBlack);
  border-top: 2px solid var(--magicBlack);
  @media (max-width: 500px) {
    display: none;
  }
  img {
    margin: 0 1.5rem;
    max-width: 8.5vw;
    max-height: 9vh;
    cursor: pointer;
    @media (max-width: 768px) {
      width: 6vw;
      height: 5vh;
    }
  }
}
