.box-container {
  background: var(--magicBlack);
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .all-links {
    text-align: center;
    .b-right {
      border-right: 0.0625rem solid var(--magicSilver);
    }
    .link-card {
      text-transform: uppercase;
      font-weight: bold;

      a {
        text-decoration: none;
        line-height: 1;
        color: var(--magicSilver);
        padding: 15px 7em;
        background-color: transparent;
        font-weight: 500;
        border: 3px solid var(--magicBlue);
        font-size: 0.8rem;
        transition: all 0.3s ease-in-out;
        &:hover {
          background: var(--magicBlue);
          color: #000;
        }
      }
    }
  }
}
