.announce-bar {
  display: flex;
  // justify-content: center;
  // align-items: center;
  padding: 3px 20px;
  font-size: 1rem;
  background: var(--magicBlack);
  color: white;
  border-bottom: 2px solid var(--magicBlue);

  img {
    width: 3.5rem;
    height: auto;
  }
  .flexItems {
    display: flex;
    align-items: center;
  }
  &__links {
    margin-left: 1rem;
  }
  &__social-link {
    padding: 0 7px;
    color: var(--magicSilver);
    // color: #fff;
    &:hover {
      color: var(--magicBlue);
      transition: 0.2s;
    }
  }

  .search {
    margin-left: auto;
    font-size: 0.75rem;
    .fa-magnifying-glass {
      font-size: 0.9rem;
    }
    a {
      text-decoration: none;
      &:hover {
        color: var(--magicBlue);
        transition: 0.2s;
      }
      i {
        padding-left: 5px;
      }
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
}
