.footer {
  background-color: var(--magicBlack);
  padding: 30px 0;
  border-top: 1px solid var(--magicSilver);
  .pb {
    padding-bottom: 5rem;
  }
  &__links {
    display: flex;
    flex-direction: column;
  }
  &__column-title {
    color: var(--magicSilver);
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  &__social-title {
    color: var(--magicSilver);
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  &__link {
    color: var(--magicSilver);
    text-decoration: none;
    font-size: 0.8rem;
    margin: 3px 0;
    &:hover {
      color: var(--magicSilver);
      text-decoration: underline;
    }
  }
  &__extra_ {
    display: flex;
    flex-direction: column;
  }
  &__input {
    margin-bottom: 1rem;
    border-radius: 4px;
    width: 100%;
  }
  p {
    font-size: 0.7rem;
    color: var(--magicSilver);
    line-height: 1.7;
  }
  &__social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__social-link {
    color: var(--magicSilver);
    margin-left: 0.5rem;
    font-size: 1.3rem;
    &:hover {
      color: var(--magicBlue);
    }
  }
  &__bottom {
    border-top: 2px solid #666;
    padding-top: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__copy {
    color: var(--magicSilver);
    p {
      margin-bottom: 0.4rem;
      .no-border {
        a {
          padding: 0 0.5rem 0 0;
        }
      }
    }

    a {
      margin: 0;
      padding: 0 0.5rem;
      color: var(--magicSilver);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: var(--magicSilver);
      }
    }
    span {
      border-right: 1px solid #666;
    }
    img {
      width: 6rem;
      height: auto;
    }
  }
}
