@use './reset.scss';
@use '../components/components.scss';
@use './bootstrap/scss/bootstrap.scss';

:root {
  --magicBlue: #0077c0;
  --magicSilver: #bac4c9;
  --magicBlack: #130c0e;
  --container: 1400px;
}

body {
  background-color: #fff;
}

// .fixed-nav {
//   &.nav-transparent {
//     .header {
//       background: transparent;
//       a {
//         color: var(--magicBlack);
//         // color: white;
//       }
//     }
//   }
//   .header {
//     position: absolute;
//     width: 100%;
//     z-index: 20;
//   }
// }

.swiper-button-next,
.swiper-button-prev {
  color: var(--magicSilver) !important;
}
